# Prettier
.prettierrc
.prettierignore

# Node modules
node_modules/

# Logs and db
logs/*
*.log
npm-debug.log*
*.sqlite
*.sqlite3
*.sql

# Environment variables
.env
.env.*

# Output directories
dist/
build/

# IDE specific files
.vscode/
.idea/

# MacOS specific files
.DS_Store

# Cache
.npm/
.eslintcache
.stylelintcache
.bun/
*.tsbuildinfo
/src/lib/db.sqlite
